html,
body {
    height: 100%;
    color: #333;
    background: #fff;
}
/* 设置百度地图高度撑开 */
#root,.mapBox,#container{
    height: 100%;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding:0;
}

ul,li {    
    list-style: none;
}

* {
    /* touch-action: pan-y; */
    /* 设置忽略url报错 上下选一即可 */
    touch-action: none; 
    box-sizing: border-box; 
}